/* styles.css */

/* styles.css */
/*body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

.page-container-quest {
   /* background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;*/
    max-width: 1500px; /* Ограничиваем максимальную ширину */
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    /*margin-left: 10%;*/

    /*background: #fff;*/
    /*border: 1px solid #ccc;
    border-radius: 8px;*/
    padding: 15px;
   /* margin-bottom: 15px;*/
    width: 100%;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
    justify-content: center;
    align-items: center;
}


.button-containers {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 3em;
    margin-bottom: 2em;
    margin-top: 1em;
}
.create-button{
    margin-right: 1em;
    margin-left: 2em;
    background-color: #4CAF50;
    border-color:#4CAF50;
    color: #333333;
    width: 15em;
}
.create-button:hover{
    color: #f0f0f0;
    background-color: #388E3C;
    border-color: #388E3C;
}
.create-button:active{
    color: #f0f0f0;
    background-color: #388E3C !important;
    border-color: #388E3C !important;
}


.button-container-quest {
    display: flex;
    justify-content: center;
    gap: 10px; /* Расстояние между кнопками */
    margin-left: 44%;
}

.button-quest {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.button-quest:hover {
    background-color: #388E3C;
}

.button-quest:active {
    background-color: #388E3C !important;
}
.no-items-message {
    font-size: 26px;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}
.scrollable-container {
    /*height: 100vh; /* Высота контейнера равна высоте viewport */
    /*overflow-y: auto; /* Включаем вертикальную прокрутку */
    padding: 20px; /* Отступы вокруг контента */
    box-sizing: border-box; /* Включаем box-sizing для корректного отображения отступов */
}