.footer {
    background-color: #333; /* Темно-серый фон */
    color: #fff; /* Белый текст */
    padding: 10px 0; /* Уменьшаем паддинги */
    width: 100%; /* Ширина на всю страницу */
    margin-top: auto; /* Подвал будет внизу страницы */
}

.footer-section {
    margin-bottom: 10px; /* Уменьшаем отступы между секциями */
}

.footer-section h5 {
    font-weight: bold;
    margin-bottom: 5px; /* Уменьшаем отступы */
}

.footer-section p {
    margin-bottom: 5px; /* Уменьшаем отступы */
}

.footer-section ul {
    padding-left: 0;
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 5px; /* Уменьшаем отступы */
}

.footer-section ul li a {
    color: #fff; /* Белый текст */
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: none;
}

.footer-section ul li i {
    margin-right: 5px;
    color: #fff; /* Белый текст */
}

.footer p {
    margin: 0;
    font-size: 0.9em;
}

.text-center {
    text-align: center;
}

.mt-3 {
    margin-top: 0.5rem; /* Уменьшаем отступ сверху */
}

.disabled-link {
    cursor: default; /* Убираем курсор указателя */
    pointer-events: none; /* Отключаем все события мыши */
}
