/* styles.css */
body, html {
    margin: 0; /* Убираем внешние отступы у body и html */
    padding: 0; /* Убираем внутренние отступы у body и html */
    font-family: Arial, sans-serif;
    background-color: #000;
    background: url(../../images/fon2.svg);
    background-repeat: cover;
    background-size: 170%;
}

h1 {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.w-8 {
    width: 3rem;
}

.h-8 {
    height: 3rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 4px; /* Уменьшаем отступы */
}

.flex-row a {
    padding-top: 6px; /* Уменьшаем паддинги */
    padding-left: 5px; /* Уменьшаем паддинги */
    padding-right: 5px; /* Уменьшаем паддинги */
}

.fill {
    flex-grow: 1;
}

a, a:visited {
    text-decoration: none;
    color: white !important;
}

.fas {
    font-size: 20px;
    color: white;
}

.fa {
    margin-left: 2.5px; /* Уменьшаем отступы */
}

.fa-user::before {
    content: "\f007";
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .product-card {
        width: 250px;
    }
}

@media screen and (max-width: 480px) {
    .product-card {
        width: 100%;
    }
}

h1 {
    text-align: center;
}

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Выравниваем контент по верхнему краю */
    /*min-height: calc(100vh - 100px); /* Уменьшаем высоту контента, чтобы подвал был ближе */
    text-align: center;
    /*padding-top: 10px; /* Уменьшаем отступ сверху для контента */
    /*margin-bottom: 10px; /* Уменьшаем отступ снизу для контента */
    height: auto;
    /*background-color: #fff;*/
    padding-bottom: 18%;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}

.container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Уменьшаем отступ между контейнером и кнопкой */
    margin-bottom: 3%;
    width: 100%;
    max-width: 1600px;
}

.container-home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px; /* Увеличиваем отступы между карточками */
    width: 100%;
    max-width: 1200px; /* Ограничиваем максимальную ширину контейнера */
    /*background: #f0f0f0;*/
    margin-top: 0.5%; /* Уменьшаем отступ сверху */
    /*border-radius: 15px; /* Скругление углов */
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Уменьшаем тень */
    padding: 10px; /* Уменьшаем внутренние отступы */
    overflow: hidden; /* Скрываем переполнение */
    padding-bottom: 1% !important;
}

.container-home .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 150px; /* Устанавливаем фиксированную высоту для карточек */
    box-sizing: border-box; /* Включаем padding и border в общую ширину и высоту */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Добавляем анимацию */
    flex: 0 0 calc(33.333% - 64px); /* Ширина элемента с учетом отступов */

}

.container-home .card:hover {
    transform: scale(1.05) !important; /* Увеличиваем карточку при наведении */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important; /* Усиливаем тень при наведении */
}

.button-container {
    margin-top: 0; /* Убираем отступ сверху для кнопки */
}

.welcome {
    padding-top: 30px;
    margin-bottom: 20px; /* Добавляем отступ снизу для приветственной надписи */
    width: 100%;
    text-align: center;
}