.class-bank-page {
    flex: 1;
    position: relative;
}

.class-bank-form-wrapper {
    position: absolute;
    top: 50%; /* Смещение вниз на 50% */
    right: 3.33%; /* Уменьшенный отступ справа */
    left: 20%; /* Уменьшенный отступ слева */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ширина 100% от родителя */
    max-width: 1458px; /* Уменьшенная максимальная ширина формы на 10% */
    box-sizing: border-box; /* Учитываем padding в ширине */
}

.class-bank-selected-class-container-new {
    position: absolute;
    top: 75%; /* Смещение вниз на 75% */
    right: 3.33%; /* Уменьшенный отступ справа */
    left: 20%; /* Уменьшенный отступ слева */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #d0e2f7; /* Измененный цвет фона */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ширина 100% от родителя */
    max-width: 1458px; /* Уменьшенная максимальная ширина формы на 10% */
    box-sizing: border-box; /* Учитываем padding в ширине */
}

.class-bank-form-header {
    margin: 25px 25px 20px 0; /* Отступы сверху и справа */
    font-size: 1.2em;
    font-weight: bold;
}

.class-bank-form-content {
    width: 100%;
    display: flex;
    align-items: center;
}

.class-bank-form-element {
    margin-bottom: 0; /* Убираем нижний отступ */
    width: 200px; /* Фиксированная ширина для выпадающего списка */
    margin-right: 20px; /* Отступ справа для элементов формы */
}

.class-bank-form-element label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.class-bank-form-element select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.class-bank-submit-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px; /* Отступ слева от кнопки */
}

.class-bank-submit-btn:hover {
    background-color: #0056b3;
}

.class-bank-create-subject-btn {
    position: absolute;
    right: 20%; /* Уменьшенный отступ справа */
    top: 50%; /* Вертикальное выравнивание */
    transform: translateY(-50%); /* Центрирование по вертикали */
    padding: 10px 20px;
    background-color: #ffc107; /* Желтый цвет */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.class-bank-create-subject-btn:hover {
    background-color: #e0a800; /* Темнее желтый при наведении */
}

.class-bank-selected-class-container-new h3 {
    margin: 0 0 10px;
    font-size: 1.2em;
}

.class-bank-selected-class-container-new p {
    margin: 0;
    font-size: 1em;
}
