.page-container-3 {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
}

.result-container-3 {
    background-color: #f2f2f2;
    border-radius: 8px;
    box-sizing: border-box;
}

.container-wrapper-2 {
    display: flex;
    justify-content: center;
}

.container-home-2 {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.container-home-2 h2, .container-home-2 h3 {
    text-align: center;
    width: 100%;
}

.container-home-2 ul {
    list-style-position: inside;
    padding-left: 0;
    margin: 0 auto;
    display: inline-block;
    box-sizing: border-box;
}

.container-home-2 p {
    text-align: center;
    box-sizing: border-box;
}

.bar-chart-container {
    margin-top: 20px;
    text-align: center;
}

.scroll-container-3 {
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    box-sizing: border-box;
}

.chart-wrapper {
    display: inline-block;
    box-sizing: border-box;
}

.chart-wrapper canvas {
    display: block;
    margin: 0 auto;
}

.container-home-2 h2 {
    text-align: center !important;
}
.HeadText
{
    margin-left: -5%;
}