.button-containers-filter {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Выравнивание элементов по центру */
    gap: 1em; /* Добавление расстояния между элементами */
}

.search-button {
    color: #333333;
    background-color: #4CAF50;
    border-color: #4CAF50;
    width: 15em;
}

.search-button:hover {
    color: #f0f0f0;
    background-color: #388E3C;
    border-color: #388E3C;
}
.search-button:active {
    color: #f0f0f0;
    background-color: #388E3C !important;
    border-color: #388E3C !important;
}