.custom-navbar {
    /*background-color: #333;*/
    /*color: white;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
    padding: 5px 10px;
    margin-bottom: 3px;
}
.bg-dark.fixed-top {
    background-color: #99c242 !important; ;
}

.navbar-logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.navbar-logo img {
    height: 40px;
    width: auto;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.navbar-links.right {
    /*margin-left: auto;*/
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.navbar-links .navbar-link {
    color: #333333 !important; /* Изменен цвет ссылок на белый */
    /*color: white !important;*/
    text-decoration: none;
    padding: 5px 7.5px;
    transition: background-color 0.3s;
    background-color: #ffffff; /* Белый фон */
    border: 1px solid #333333; /* Тонкая темно-синяя граница */
    font-size: 16px; /* Размер шрифта */
    border-radius: 5px; /* Скругленные углы */
    margin: 5px; /* Отступы между кнопками */
}

.navbar-link {
    /*text-decoration: none;*/
    padding: 5px 7.5px;
    transition: background-color 0.3s;
}

.navbar-link:hover {
    /*background-color: #555;*/
    /*background-color: #0056b3; /* Изменен цвет фона при наведении на темно-синий */
}

.navbar-link i {
    font-size: 20px;
    /*color: white;*/
    color: #333333; /* Изменен цвет иконок на белый */
}

.justify-content-between {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.dropdown:hover > .dropdown-menu {
    display: block;
    /*background-color: #333;*/
    background-color: #f0f0f0; /* Изменен цвет фона на синий */
}

.dropdown-menu {
    margin-top: 0;
    display: none;
    border: none;
    padding: 0;
    width: 100%;
}

.dropdown-menu .dropdown-item {
    padding: 5px 7.5px;
    transition: background-color 0.3s;
    color: #333333 !important; /* Изменен цвет текста на белый */
}
.nav-link {
    color: #333333 !important;
    display: inline !important;


}

.dropdown-menu .dropdown-item:hover {
    background-color: #99c242; /* Изменен цвет фона при наведении на темно-синий */
    color: #333333 !important; /* Изменен цвет текста при наведении на белый */
}
