.custom-navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
    padding: 5px 10px;
    margin-bottom: 3px;
}

.navbar-logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.navbar-logo img {
    height: 40px;
    width: auto;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 10px; /* Уменьшаем отступы */
    margin: 0;
    padding: 0;
}

.navbar-links.right {
    margin-left: auto;
}

.navbar-links .navbar-link {
    color: white !important; /* Изменяем цвет ссылок и добавляем !important */
    text-decoration: none;
    padding: 5px 7.5px; /* Уменьшаем паддинги */
    transition: background-color 0.3s;
}

.navbar-link {
    text-decoration: none;
    padding: 5px 7.5px; /* Уменьшаем паддинги */
    transition: background-color 0.3s;
}

.navbar-link:hover {
    background-color: #555;
}

.navbar-link i {
    font-size: 20px;
    color: white;
}

.justify-content-between {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
