.button-containers-filter {
   /* width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Выравнивание элементов по центру*/
 /*   gap: 1em; /* Добавление расстояния между элементами */
    margin-right: auto;
}

.search-button {
    color: #333333;
    background-color: #bdaa4a;
    border-color: #bdaa4a;
    width: 14em;
    height: 5em;
}
.button-group {

    justify-content: center; /* Центрирует содержимое по горизонтали */
    gap: 10px; /* Расстояние между кнопками */
    width: 30%; /* Убедитесь, что контейнер занимает всю доступную ширину */
}

.search-button:hover {
    color: #f0f0f0;
    background-color: darkgoldenrod;
    border-color: darkgoldenrod;
}
.search-button:active {
    color: #f0f0f0;
    background-color: darkgoldenrod !important;
    border-color: darkgoldenrod !important;
}
.search-button-container {
    display: flex;
    justify-content: center; /* Центрирует содержимое по горизонтали */
    width: 100%; /* Убедитесь, что контейнер занимает всю доступную ширину */
}
