body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Светло-голубой фон для всей страницы */
    display: flex;
    flex-direction: column;
    overflow: auto; /* Включаем вертикальную прокрутку */
}

.page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1; /* Занимает всю доступную высоту */
    padding: 5.1% 0; /* Уменьшаем отступы сверху и снизу */
    margin-top: 10vh; /* Уменьшаем отступ сверху на одну пятую для разделения с Navbar */
    margin-bottom: 7vh; /* Уменьшаем отступ снизу на одну пятую для разделения с Footer */
}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%; /* Увеличенная ширина */
    max-width: 45%; /* Максимальная ширина */
    padding: 2%;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-section {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 1.5%; /* Уменьшаем паддинги */
    border-radius: 10px;
}

.profile-image {
    width: 15%; /* Уменьшаем размер */
    height: auto; /* Уменьшаем размер */
    object-fit: cover;
    border-radius: 10px;
    margin-right: 2%; /* Уменьшаем отступ */
}

.profile-info {
    text-align: left;
    width: 100%;
    font-size: 1.6vh; /* Уменьшаем размер текста */
}

.profile-info h5 {
    margin-bottom: 2%; /* Увеличиваем отступ */
    font-size: 2vh; /* Уменьшаем размер текста */
}

.profile-info p {
    margin: 1.5% 0; /* Увеличиваем отступы */
}

.profile-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2%; /* Уменьшаем отступ */
}

.profile-buttons button {
    width: 100%;
    margin: 1% 0; /* Уменьшаем отступы */
    font-size: 1.4vh; /* Уменьшаем размер текста */
    padding: 0.8vh; /* Уменьшаем паддинги */
}

.logout-button {
    margin-top: 1%; /* Уменьшаем отступ */
}
