* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    /*background: url(../../images/fon2.svg);*/
    background-size: 170%;
    overflow-y: auto; /* Добавляем вертикальный скролл для всей страницы */
}

.container-registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Изменяем на flex-start, чтобы форма была сверху */
    /*min-height: 100vh; /* Минимальная высота контейнера равна высоте экрана */
    /*padding-top: 3em;*/
    padding-bottom: 5em;
    background-color: transparent;
}

.registration-box {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin-left: 25%;
}

.registration-box h2 {
    margin-bottom: 20px;
}

.registration-box input, .registration-box select {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container{

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.custom-label {
    display: flex;
    justify-content: left;
}

.registration-box button {
    background-color: #aacf51;
    color: #000; /* Изменяем цвет текста на черный */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 40%;
    height: 5%;
    border-radius: 15px;
    font-size: 1em;
    box-shadow: none !important;
}

.registration-box button:hover {
    background-color: #99c242;
}

.registration-box button:active {
    background-color: #99c242 !important;
}

#errorlabel {
    color: red;
    margin-top: 10px;
}

.error-text {
    font-size: 1.1em; /* Увеличиваем шрифт */
    font-weight: bold; /* Делаем текст жирным (по желанию) */
}

.custom-button {
    background-color: #aacf51;
    color: #000; /* Изменяем цвет текста на черный */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 40%;
    height: 5%;
    border-radius: 15px;
    font-size: 1em;
    box-shadow: none !important;
}

.custom-button:hover {
    background-color: #99c242;
}

.custom-button:active {
    background-color: #99c242 !important;
}

.full-width-button {
    width: 100%;
    max-width: 600px;
}

.template-button {
    background-color: #cfbd55;
    color: #000; /* Изменяем цвет текста на черный */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 40%;
    height: 5%;
    border-radius: 15px;
    font-size: 1em;
    box-shadow: none !important;
}

.template-button:hover {
    background-color: #bdaa4a;
}

.template-button:active {
    background-color: #bdaa4a !important;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left-button {
    margin-right: auto;
}

.right-button {
    margin-left: auto;
}
