/* styles.css */
.question-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 75%; /* Увеличиваем ширину контейнера на 50% */
    margin: 20px auto; /* Добавляем отступы между вопросами и центрируем контейнер по горизонтали */
}

.question-content {
    flex: 1;
    text-align: left; /* Выравниваем текст по левому краю */
}

.question-title {
    font-size: 1rem; /* Уменьшаем размер шрифта для текста темы */
}

.question-text {
    font-size: 1.5rem; /* Увеличиваем размер шрифта для текста вопроса */
}

.answer-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Выравниваем элементы по левому краю */
    margin-top: auto; /* Перемещаем вниз */
    padding: 1rem;
    background-color: white;
    border-top: 1px solid #ddd;
    width: 100%; /* Убедимся, что контейнер занимает всю ширину */
}

.answer-group {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Выравниваем элементы по левому краю */
    width: 100%;
}

.answer-label {
    margin-right: 10px; /* Отступ между текстом и текстбоксом */
    font-size: 1rem; /* Размер шрифта для текста "Ответ:" */
}

.answer-display {
    margin-left: 10px; /* Отступ между текстом и отображаемым ответом */
    font-size: 1rem; /* Размер шрифта для отображаемого ответа */
}

.answer-input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.answer-button {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-start; /* Перемещаем кнопку влево */
}

.answer-button:hover {
    background-color: #388E3C;
}

.correct {
    background-color: #d4edda; /* Зеленый фон для правильных вопросов */
    border-color: #c3e6cb;
}

.incorrect {
    background-color: #f8d7da; /* Красный фон для неправильных вопросов */
    border-color: #f5c6cb;
}
