.comparison-container {

}
.comparison-container-question {
    padding: 1vw;
    margin: 1vw;
}
.comparison-container-question p{
    margin: 1vw;
}
.comparison-container-response {
    padding: 1vw;
    margin: 1vw;
}
.comparison-container-response div{

    margin: 1vw;
    min-width: 3vw;
    text-align: center;
}
.comparison-question-correct{
    background-color: #0f5132;
}
.comparison-question-incorrect{
    background-color: #58151c;
}
.response-option-badge{
    font-size: 1rem;
    min-width: 5vw;
}