.page-container {
    /*padding-top: 8vh;*/
    display: flex;
    flex-direction: column;
    /*min-height: 100vh;*/
}

.content {
    /*flex: 1;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Добавьте отступы для контента */
}

.themes-container {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    margin-left: 160px;
    margin-right: 160px;
    width: calc(100% - 320px); /* Учитываем увеличенные отступы */
    box-sizing: border-box; /* Включает padding и border в ширину и высоту */
}

.theme-container {
    /*background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;*/
    background: transparent;
    padding: 15px;
    margin-bottom: 15px;
    width: 100%;
    /*width: 80%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

.buttons-container button {
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

.control-button {
    background-color: #4CAF50;
    color: white;
}

.control-button:hover {
    background-color: #388E3C !important;
}

.control-button:active {
    background-color: #388E3C !important;
}

.trainer-button {
    background-color: #2196F3;
    color: white;
}

.footer {
    margin-top: auto;
}

.Name {

    color:white;
}
h3 {
    color: #000;
    margin-bottom: 1rem;
    font-size: 20px;
}
.accordion {
    padding-bottom: 1em;
}