.bankcard {

    border: 1px solid #ddd;
    background-color: #F2F0C9 !important;
    margin: 20px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    transition: box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    justify-content: center;
    align-items: center;
    /*width: inherit;*/
    width: 90%;
}

.bankcard:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.bankcard-header {
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    background-color: #f5f5f5;
}

.bankcard-body {
    padding: 10px;
    flex-grow: 1;
}

.bankbutton{
    /*width: inherit;*/
    width: 3em;
    height: 3em;
    margin: 5px;
}

.btn-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}