/* styles.css */

/* styles.css */
/*body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

.page-container-quest {
   /* background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;*/
    max-width: 1500px; /* Ограничиваем максимальную ширину */
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10%;

    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
   /* margin-bottom: 15px;*/
    width: 80%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
}


.button-containers {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}




.button-container-quest {
    display: flex;
    justify-content: center;
    gap: 10px; /* Расстояние между кнопками */
    margin-left: 44%;
}

.button-quest {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.button-quest:hover {
    background-color: #388E3C;
}

.button-quest:active {
    background-color: #388E3C !important;
}