.card-subject-class{
    /*border: 1px solid #ddd;*/
    /*background-color: #99c242;*/
    background-color: rgba(255, 255, 255, 0);

    margin: 20px;
    padding: 10px;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    transition: box-shadow 0.3s;*/
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;

    gap: 10px; /* Задает отступ между элементами */
    color: #333333;
}

.custom-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    /*background-color: white;*/
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50px; /* Задайте нужную ширину */
    height: 50px; /* Задайте нужную высоту */
}

.button-icon {
    width: 40px; /* Ширина иконки */
    height: 40px; /* Высота иконки */
    margin-right: 8px; /* Отступ между иконкой и текстом */
}

.custom-button:hover {
    background-color: #388E3C;
}

.button-image {
    /*width: 60px; /* Задайте нужную ширину */
    /*height: 60px; /* Задайте нужную высоту */
    /*margin-right: 8px; /* Отступ между изображением и текстом */
}


.component-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #99c242; /* Оранжевый фон */
    border: none;
    border-radius: 20px; /* Скругленные углы */
}

.component-button:hover {
    background-color: #4CAF50;
}

.component-button:active {
    background-color: #4CAF50 !important;
}