<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личные данные</title>
    <link rel="stylesheet" href="../static/css/StyleForAccount.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">

</head>
<body>
<nav>
    <div class="flex-row">
        <img class="w-8 h-8" src="/images/в.png" alt="Логотип">
        <a href="main">Предметы</a>
        <a id="adduserbutton"  href="registration">Зарегистрировать пользователя</a>
        <a href="#Справка">Справка</a>
        <div class="fill"> </div>
        <a href="#"><i class="fas fa-bell"></i></a>
        <a href="#"><i class="fas fa-comments"></i></a>
        <a href="account">Личный кабинет</a>

    </div>
</nav>
<h1>Личные данные</h1>
<div class="container">
    <div class="photo">
        <img src="/images/аватар.png" alt="Фотография пользователя">
    </div>
    <div class="data">
        <div class="data">
            <label for="surname">Фамилия:</label>
            <span id="surname">Иванов</span>
        </div>
        <div class="data">
            <label for="name">Имя:</label>
            <span id="name">Иван</span>
        </div>
        <div class="data">
            <label for="patronymic">Отчество:</label>
            <span id="patronymic">Иванович</span>
        </div>
        <div class="data">
            <label for="email">Email:</label>
            <span id="email">ivan.ivanov@example.com</span>
        </div>
        <div class="data">
            <label for="role">Роль:</label>
            <span id="role">Учитель</span>
        </div>
    </div>
</div>
<a href="main" class="back-button">Назад</a>
<a href="login" class="out-button">Выйти из аккаунта</a>
<script src="/js/account.js"></script>
<script src="/js/security.js"></script>
<footer>
    <p>&copy; Информация о сайте</p>
</footer>
</body>
</html>