<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/css/StylesForLogin.css">
    <link rel="stylesheet" href="../static/js/login.js">
</head>
<body>

<div class="header-bar">
    <img src="../static/images/лого.png" class="header-logo">
</div>

<div class="container">
    <div class="login-box">
        <h1>Вход</h1>
        <div class="fgf">
            <form id="loginForm">
                <div>
                    <input type="text" name="username" id="username" placeholder="Логин" required>
                    <input type="password" name="password" id="password" placeholder="Пароль" required>
                    <h4 Visible="True" id="errorlabel"></h4>
                </div>
                <a href="main"><button>Войти</button></a>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('loginForm').addEventListener('submit', async (e) => {
        e.preventDefault();

        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        let errorlabel = document.getElementById('errorlabel');

        console.log('Sending request with:', JSON.stringify({ username, password }));
        errorlabel.innerHTML = "";
        try {
            const response = await fetch('/api/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ username, password })
            });

            if (response.ok) {
                const token = await response.text();
                console.log('Received token:', token);
                document.cookie = "jwtToken="+token+"; path=/;"
                window.location.href = 'main'; // Перенаправление на другую страницу
            } else {
                const errorText = await response.text();
                console.error('Login failed:', errorText);
                errorlabel.innerHTML = "Неверный пароль или логин";
            }
        } catch (error) {
            console.error('Error during fetch:', error);
        }
    });
</script>
</body>
</html>
