<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Регистрация учителя</title>
<link rel="stylesheet" href="../static/css/styles.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
</head>
<body>
<div class="container">
    <h1>Регистрация учителя</h1>
    <form action="#" method="post">
        <label for="fname">Имя:</label>
        <input type="text" id="fname" pattern="[А-Яа-яA-Za-z]{2,15}" name="fname" required>
        
        <label for="lname">Фамилия:</label>
        <input type="text" id="lname" pattern="[А-Яа-яA-Za-z]+(-[А-Яа-яA-Za-z]+)?(\s[А-Яа-яA-Za-z]+(-[А-Яа-яA-Za-z]+)?)?" name="lname" required>
        
        <label for="mname">Отчество:</label>
        <input type="text" id="mname" pattern="[А-Яа-яA-Za-z]{2,20}" name="mname">
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        
        <label for="login">Логин:</label>
        <input type="text" id="login" pattern=".{6,}" name="login" required>
        
        <label for="password">Пароль:</label>
        <input type="password" id="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}" name="password" required>
        
        <label for="superuser">Суперпользователь:</label>
        <input type="checkbox" id="superuser" name="superuser">
        
        <input type="submit" value="Зарегистрироваться">
    </form>
</div>
<script src="/js/security.js"></script>
</body>
</html>