<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Регистрация</title>
    <link rel="stylesheet" href="../static/css/StyleForRegistration.css">
    <link rel="stylesheet" href="../static/css/registration_modal.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
</head>

<body>
<nav>
    <div class="flex-row">
        <img class="w-8 h-8" src="/images/в.png" alt="Логотип">
        <a href="main">Предметы</a>
        <a id="adduserbutton" href="registration">Зарегистрировать пользователя</a>
        <a href="#Справка">Справка</a>
        <div class="fill"></div>
        <a href="#"><i class="fas fa-bell"></i></a>
        <a href="#"><i class="fas fa-comments"></i></a>
        <a href="account">Личный кабинет</a>
    </div>
</nav>
<h1>Регистрация</h1>

<form id="registrationForm" onsubmit="return registerUser(event)">
    <label for="role">Роль:</label>
    <select id="role" name="role" required></select>

    <label for="surname">Фамилия:</label>
    <input type="text" id="surname" name="surname" oninput="this.value = this.value.replace(/\s+/g, '').replace(/[^а-яА-Яa-zA-Z\-]/g, '');" maxlength="50" required>
    <div class="error-message" id="surnameError"></div>

    <label for="name">Имя:</label>
    <input type="text" id="name" name="name" oninput="this.value = this.value.replace(/\s+/g, '').replace(/[^а-яА-Яa-zA-Z]/g, '');" maxlength="30" required>
    <div class="error-message" id="nameError"></div>

    <label for="patronymic">Отчество:</label>
    <input type="text" id="patronymic" name="patronymic" oninput="this.value = this.value.replace(/\s+/g, '').replace(/[^а-яА-Яa-zA-Z]/g, '');" maxlength="40">
    <div class="error-message" id="patronymicError"></div>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" oninput="this.value = this.value.replace(/\s+/g, '');" maxlength="80" required>
    <div class="error-message" id="emailError"></div>

    <label for="educationPlace">Место обучения:</label>
    <select id="educationPlace" name="educationPlace" required>
    </select>
    <div class="error-message" id="educationPlaceError"></div>

    <label for="class">Класс:</label>
    <select id="class" name="class" required>
    </select>
    <div class="error-message" id="classError"></div>

    <button type="submit">Зарегистрировать пользователя</button>
    <button type="button" onclick="window.history.back()">Назад</button>
</form>


<script>
        function validateForm() {
            const surname = document.getElementById('surname');
            const name = document.getElementById('name');
            const patronymic = document.getElementById('patronymic');
            const email = document.getElementById('email');

            const surnameError = document.getElementById('surnameError');
            const nameError = document.getElementById('nameError');
            const patronymicError = document.getElementById('patronymicError');
            const emailError = document.getElementById('emailError');

            const emailDomain = email.value.split('@')[1];
            const commonEmailDomains = ['gmail.com', 'yahoo.com', 'outlook.com', 'mail.ru', 'yandex.ru'];

            surnameError.textContent = '';
            nameError.textContent = '';
            patronymicError.textContent = '';
            emailError.textContent = '';

            if (surname.value.length < 2 || surname.value.length > 50) {
                surnameError.textContent = 'Фамилия должна быть от 2 до 50 символов';
                return false;
            }

            if (name.value.length < 2 || name.value.length > 30) {
                nameError.textContent = 'Имя должно быть от 2 до 30 символов';
                return false;
            }

            if (patronymic.value.length > 40) {
                patronymicError.textContent = 'Отчество не должно превышать 40 символов';
                return false;
            }

            if (email.value.length < 2 || email.value.length > 80 || !commonEmailDomains.includes(emailDomain) || !email.value.match("^[a-zA-Z0-9]+@[a-zA-Z0-9]+\.[a-zA-Z]{2,}$")) {
                emailError.textContent = 'Email должен быть от 2 до 80 символов и содержать существующий домен';
                return false;
            }

            return true;
        }

        function registerUser(event) {
            event.preventDefault();

            if (!validateForm()) {
                return false;
            }

            const email = document.getElementById('email');
            const emailError = document.getElementById('emailError');
            emailError.textContent = '';

            var formData = {
                roleId: document.getElementById("role").value,
                surname: document.getElementById("surname").value,
                name: document.getElementById("name").value,
                patronymic: document.getElementById("patronymic").value,
                email: document.getElementById("email").value
            };

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/users/add", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        document.getElementById('modalLogin').innerText = response.login;
                        document.getElementById('modalPassword').innerText = response.password;
                        openModal();
                    } else {
                        emailError.textContent = 'Ошибка регистрации. Пожалуйста, попробуйте еще раз.';
                    }
                }
            };
            xhr.send(JSON.stringify(formData));
        }
    </script>

<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>Регистрация успешна!</h2>
        <p>Логин: <span id="modalLogin"></span></p>
        <p>Пароль: <span id="modalPassword"></span></p>
    </div>
</div>
<div class="overlay" id="overlay"></div>
<script src="../js/registration.js"></script>
<script src="/js/security.js"></script>
</body>
<footer>
    <p>&copy; Информация о сайте</p>
</footer>
</html>
